/* MAIN */

* {
  margin: 0;
}

body {
  background-color: #faf4ed;
  color: #575279;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: auto;
  max-width: 720px;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
  padding: 0.5em 0.125em;
}

a {
  background-color: #fefefe;
  color: #797593;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.main-list-item {
  width: 500px;
  margin: 2em auto;
}

.italic-text {
  font-family: "Source Serif 4";
  font-style: italic;
}

/* RECIPE PAGES */

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

img {
  border-radius: 0.25em;
  width: 500px;
}

section li {
  padding: 0.5em 0;
}

.coleslaw {
  color: #b4637a;
}

.ribs {
  color: #286983;
}

.pasta-salad {
  color: #907aa9;
}

section {
  margin-bottom: 4em;
}
