/* MAIN */

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #faf4ed;
  color: #575279;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

main {
  background: white;
  border-radius: 0.25em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 100%;
  margin-top: 2em;
  margin: auto;
  max-width: 720px;
}

h1 {
  font-size: 5em;
  font-weight: 900;
  letter-spacing: -0.25rem;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.125rem;
}

a {
  background-color: #fefefe;
  color: #797593;
  text-decoration: none;
}

img {
  border-radius: 0.25em;
  border-radius: 0;
  display: inline-block;
  width: 200px;
}

.main-list {
  list-style-type: none;
  padding: 0 1em 3em;
}

.main-list-item {
  margin-top: 3em;
}

.card {
  align-items: center;
  display: flex;
  gap: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* RECIPE PAGES */

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

section li {
  padding: 0.5em 0;
}

.coleslaw {
  color: #b4637a;
}

.ribs {
  color: #286983;
}

.pasta-salad {
  color: #907aa9;
}

section {
  margin-bottom: 4em;
}
